<!DOCTYPE HTML>
<html 
	xmlns="http://www.thymeleaf.org"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>	
	<head>
		<link 
			rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
			crossorigin="anonymous"
		>
		<link th:href="@{/styles/main.css}" rel="stylesheet" />
		<title>Music Store</title>
		<meta http-equiv="Content-Type" content="text/html charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preload" href="/products/images/jumbo.jpg" as="image">
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar"/>
		<div th:replace="fragments/navbar :: jumbotron"/>
	    <div class="container">
	    	<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" th:text="'Products'" aria-current="page"/>
				</ol>
			</nav>
			<div class="alert alert-dismissable alert-success" role="alert" th:if="${success}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p th:text="${success}"/>
			</div>
			<div class="alert alert-dismissable alert-danger" role="alert" th:text="${error}" th:if="${error}">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<p th:text="${success}"/>
			</div>

			<div class="row">
		    	<div class="col-12 offset-md-2">
		    	<h1 class="mb-5" th:text="'Products'"></h1>
		    		<div th:if="${message}">
		    			<div th:insert="fragments/errors :: alert(type='success', message=${message})"></div>
		    		</div>
					<ul th:each="product : ${products}">	
						<li class="media">
						<img 
							th:src="@{${product.imgUrl} == null ? '/products/images/NA.jpg' : '/products/' + ${product.imgUrl}}" 
							alt=${product.name} 
							class="mr-3 img-fluid border rounded" 
							width="50" 
							height="100"
						/>
							<div class="media-body panel">
								<div class="container">
									<div class="col-12">
										<div class="row">
											<div class="col-12 col-md-6">
												<a 
													th:href="@{products/{prodId}(prodId=${product.id})}">
													<h5 
														th:text="${product.brand} + ' ' + ${product.name}" 
														class="mt-0 mb-1">
													</h5>
												</a>
												<p th:text="${product.model_year}"/>
								    			<p th:text="${product.category}"/>
											</div>
											<div class="col-12 col-md-5">
												<b><h4 th:text="${product.list_price + '&euro;'}"/></b>
													<a 
														sec:authorize="isAuthenticated()"
														type="button" class="btn btn-dark btn-sm" 
														th:href="@{/buy/{productId}(productId=${product.id})}"
													>
														Add to cart
													</a>
											</div>
										</div>
										<div class="row">
											<div class="col-10 col-md-6">
												<div th:if="${product.quantity >= 5}">
									    			<p th:text="'Availability'" class="text-success"/>
									    		</div>
									    		<div th:if="${product.quantity > 0 && product.quantity < 5}">
									    			<p th:text="'Availability'" class="text-warning"/>
									    		</div>
									    		<div th:if="${product.quantity <= 0}">
									    			<p th:text="'Out of stock'" class="text-danger"/>
										    	</div>
											</div>
											<div class="col-2 col-md-5">
												<div class="row text-right">			
													<a 
														sec:authorize="hasRole('ADMIN')"
														type="button" class="btn btn-primary btn-sm mr-1" 
														th:href="@{/editProd/{productId}(productId=${product.id})}">Edit</a>
													<a 
														sec:authorize="hasRole('ADMIN')"
														style="padding-left: 5"
														type="button" 
														th:attr="data-id=''+${product.id}+'', data-product=${product.brand} + ' ' + ${product.name}" 
														id="deleteProd" 
														data-target="#deleteConfirmation" 
														data-toggle="modal" 
														class="btn btn-danger btn-sm" 
													>
														Delete
													</a>									
												</div>
											</div>
										</div>
									</div>	
					    		</div>
							</div>	
						</li>
					</ul>
		   		</div>
		   </div>
	   </div>
	   <div class="modal fade" id="deleteConfirmation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="input" text="">
					</div>
					<div class="modal-footer">
						<Button type="button" class="btn btn-secondary" data-dismiss="modal">Close</Button>
						<a id="delete" href="" type="submit" class="btn btn-danger">Delete</a>
					</div>
				</div>
			</div>
  	  </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script th:inline="javascript">

	$(document).on("click", "#deleteProd", function () {
		$('.modal-body').removeClass('modal-open');
	     var id = $(this).data('id');
	     var product = $(this).data('product');

	     $(".modal-body #input").text(`Are you sure you want to delete ${product}?`);
	     $(".modal-footer #delete").attr('href', `delProd/${id}`);
	});
	
	
</script>
</html>